body { 
    background-color: black;
    justify-content: center;
    padding: 2rem 15rem;
font-family: monospace, sans-serif;
text-align: center;
color:white;}

h1{
    font-size: 36px;
text-align: center;
color: white;   
border: 5px solid rgb(160, 0, 255) ;
padding: 1.5em ;
margin-top: 2em;
margin-bottom: 2em;
background-color:black
}

nav ul { 
    display:flex ;
    list-style: none;
    justify-content: space-evenly;

}

a { text-decoration: none;
color: white;}

.button:hover { 
    padding: 3px;
    transform: scale(1.25);
}
